@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "index";
@import "user";
@import "edit";

body {
  background-color: #ebebe7;
  height: 100vh;
  
  .notifications {
    color: white;
    text-align: center;  
  
    .notice {
      background-color: lightBlue;
    }
  
    .alert {
      background-color: orange;
    }
  }
}
